In [11]:
from sklearn.datasets import load_iris
from sklearn import linear_model
import pandas as pd
import numpy as np
from sklearn.datasets import load_iris

In [12]:
iris = load_iris()
data1 = pd.DataFrame(data = np.c_[iris["data"],iris["target"]],
                    columns=iris["feature_names"]+["target"])

In [13]:
data1

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0.0
1,4.9,3.0,1.4,0.2,0.0
2,4.7,3.2,1.3,0.2,0.0
3,4.6,3.1,1.5,0.2,0.0
4,5.0,3.6,1.4,0.2,0.0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2.0
146,6.3,2.5,5.0,1.9,2.0
147,6.5,3.0,5.2,2.0,2.0
148,6.2,3.4,5.4,2.3,2.0
149,5.9,3.0,5.1,1.8,2.0

In [ ]:
#a model to predict petal width based on data from petal width
#x is always the input variable (independent variable)
#y is always the output variable(dependent variable)

In [26]:
x = data1[["petal length (cm)"]]
x

     petal length (cm)
0                  1.4
1                  1.4
2                  1.3
3                  1.5
4                  1.4
..                 ...
145                5.2
146                5.0
147                5.2
148                5.4
149                5.1

[150 rows x 1 columns]

In [27]:
y = data1[["petal width (cm)"]]
y

     petal width (cm)
0                 0.2
1                 0.2
2                 0.2
3                 0.2
4                 0.2
..                ...
145               2.3
146               1.9
147               2.0
148               2.3
149               1.8

[150 rows x 1 columns]

In [28]:
#step1: define the model
ln = linear_model.LinearRegression()

#step2: fitting the model
ln.fit(x,y)

LinearRegression()

In [30]:
print(ln.intercept_)

[-0.36307552]

In [31]:
print(ln.coef_)

[[0.41575542]]

In [ ]:
#The equation
#y=-0.36307552x+0.41575542*x

In [35]:
def model(x):
    return -0.36307552 + 0.41575542*(x)

model(5.8)

2.0483059159999994

In [37]:
#let's try another one
data1

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0.0
1,4.9,3.0,1.4,0.2,0.0
2,4.7,3.2,1.3,0.2,0.0
3,4.6,3.1,1.5,0.2,0.0
4,5.0,3.6,1.4,0.2,0.0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2.0
146,6.3,2.5,5.0,1.9,2.0
147,6.5,3.0,5.2,2.0,2.0
148,6.2,3.4,5.4,2.3,2.0
149,5.9,3.0,5.1,1.8,2.0

In [108]:
#input variable
x = data1[["petal length (cm)"]]

#output variable
y = data1[["sepal length (cm)"]]

#define model
lr = linear_model.LinearRegression()

#ftting
lr.fit(x,y)

print(lr.intercept_)
print("\n")
print(lr.coef_)
print("\n")
print("Sepal length (cm) = " + str(lr.intercept_) + "+" + str(lr.coef_[0]) + "Sepal length (cm)")

[4.30660342]


[[0.40892228]]


Sepal length (cm) = [4.30660342]+[0.40892228]Sepal length (cm)